<div class="content-wrapper container-xxl p-0">
    <div class="content-body">

        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <form class="form">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="basicSelect">Project Name</label>
                        <input type="text" id="prj-name" formControlName="name" class="form-control" name="projectName"
                            placeholder="Project Name" [(ngModel)]="project.projectName" />
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="Title">Project type</label>
                        <select class="form-control" id="empSelect" [(ngModel)]="project.projectType">
                            <option hidden></option>
                            <option value="type 1">type 1</option>
                            <option value="type 2">type 2</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="holydayrange">Project Range</label>
                        <div class="input-group">
                            <input name="datepicker" class="form-control" id="holydayrange" ngbDatepicker
                                #rangeSelectionDP="ngbDatepicker" [autoClose]="'outside'"
                                (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                                outsideDays="hidden" [startDate]="fromDate!" [value]="formatter.format(today)">
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary feather icon-calendar"
                                    (click)="rangeSelectionDP.toggle()" type="button" rippleEffect></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <button rippleEffect class="btn btn-primary mr-1" (click)="addProject()">Submit</button>
                <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>