<!-------------------------------edit------------------------------->

<ng-template #modalPrimaryedit let-modal>
 <div class="modal-header">
   <h5 class="modal-title" id="myModalLabel160">Edit contrat</h5>
   <button
     type="button"
     class="close"
     (click)="modal.dismiss('Accept click')"
     aria-label="Close"
   >
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <form
   [formGroup]="formEdit"
   (ngSubmit)="onEditSubmit()"
   class="form form-horizontal"
 >
   <div class="modal-body" tabindex="0" ngbAutofocus>
     <div class="col-12">
       <div class="form-group row">
         <div class="col-sm-3 col-form-label">
           <label for="name">Contrat Name</label>
         </div>
         <div class="col-sm-9">
           <div class="form-group">
             <input
               type="name"
               id="name"
               class="form-control"
               name="name"
               formControlName="name"
               placeholder="Contrat Name"
               [ngClass]="{
                 'is-invalid': EditFormControl['name'].errors
               }"
             />
             <div
               *ngIf="EditFormControl['name'].errors"
               class="invalid-feedback"
             >
               <div
                 *ngIf="EditFormControl['name'].errors['required']"
               >
                 Contrat Name is required
               </div>
               <div
                 *ngIf="EditFormControl['name'].errors['pattern']"
               >
                 Contrat Name must have characters only
               </div>
               <div
                 *ngIf="EditFormControl['name'].errors['minlength']"
               >
                 Add more characters
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

     <div class="col-12">
       <div class="form-group row">
         <div class="col-sm-3 col-form-label">
           <label for="statut">Description</label>
         </div>
         <div class="col-sm-9">
           <input
             type="text"
             id="statut"
             class="form-control"
             name="description"
             placeholder="Description"
             formControlName="description"
             [ngClass]="{ 'is-invalid': EditFormControl['description'].errors }"
           />
           <div
             *ngIf="EditFormControl['description'].errors"
             class="invalid-feedback"
           >
             <div *ngIf="EditFormControl['description'].errors['required']">
              Description is required
             </div>
             <div *ngIf="EditFormControl['description'].errors['statut']">
              Description is invalid
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-footer">
     <button type="submit" class="btn btn-primary" rippleEffect>Accept</button>
   </div>
 </form>
</ng-template>

<!-------------------------------add------------------------------->

<ng-template #modalPrimaryadd let-modal>
 <div class="modal-header">
   <h5 class="modal-title" id="myModalLabel160">Add contrat</h5>
   <button
     type="button"
     class="close"
     (click)="modal.dismiss('Accept click')"
     aria-label="Close"
   >
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <form
   [formGroup]="form"
   (ngSubmit)="onAddSubmit()"
   class="form form-horizontal"
 >
   <div class="modal-body" tabindex="0" ngbAutofocus>
     <div class="col-12">
       <div class="form-group row">
         <div class="col-sm-3 col-form-label">
           <label for="name">Contrat Name</label>
         </div>
         <div class="col-sm-9">
           <div class="form-group">
             <input
               type="name"
               id="name"
               class="form-control"
               name="name"
               formControlName="name"
               placeholder="Contrat Name"
               [ngClass]="{
                 'is-invalid': formControl['name'].errors
               }"
             />
             <div
               *ngIf="formControl['name'].errors"
               class="invalid-feedback"
             >
               <div *ngIf="formControl['name'].errors['required']">
                Contrat Name is required
               </div>
               <div *ngIf="formControl['name'].errors['pattern']">
                Contrat Name must have characters only
               </div>
               <div *ngIf="formControl['name'].errors['minlength']">
                 Add more characters
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

     <div class="col-12">
       <div class="form-group row">
         <div class="col-sm-3 col-form-label">
           <label for="email">Description</label>
         </div>
         <div class="col-sm-9">
           <input
             type="text"
             id="statut"
             class="form-control"
             name="description"
             placeholder="Description"
             formControlName="description"
             [ngClass]="{ 'is-invalid': formControl['description'].errors }"
           />
           <div *ngIf="formControl['description'].errors" class="invalid-feedback">
             <div *ngIf="formControl['description'].errors['required']">
              Description is required
             </div>
             <div *ngIf="formControl['description'].errors['description']">
              Description is invalid
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="modal-footer">
     <button type="submit" class="btn btn-primary" rippleEffect>Accept</button>
   </div>
 </form>
</ng-template>

<!--------------------------------------------->

<div class="content-wrapper container-xxl p-0">
 <div class="content-body">
   <app-content-header [contentHeader]="contentHeader"></app-content-header>

   <section id="ngx-datatable-kitchen-sink">
     <div class="card">
       <div class="card-header">
         <h4 class="card-title text-primary">All Contrats</h4>
         <!-- Button trigger modal -->
       </div>
       <div class="d-flex flex-row justify-content-between align-items-center">
         <div class="col-md-5 col-12">
           <div
             class="d-flex align-items-center justify-content-start pr-1 pb-1 pl-1 pl-md-0 pb-md-0"
           >
             <label class="d-flex align-items-center"
               >Search
               <input
                 type="search"
                 placeholder="Search by Name"
                 class="form-control ml-25"
                 (keyup)="filterByName($event)"
                 (search)="filterByName($event)"
             /></label>
           </div>
         </div>
         <div>
           <button
             type="button"
             (click)="modalAdd(modalPrimaryadd, contrat)"
             class="btn btn-icon rounded-circle btn-primary mr-1"
             data-toggle="tooltip"
             data-placement="top"
             title="add project"
             rippleEffect
           >
             <span [data-feather]="'plus'"></span>
           </button>
           <button
             type="button"
             class="btn btn-icon rounded-circle btn-success mr-1"
             data-toggle="tooltip"
             data-placement="top"
             title="export projects"
             (click)="toastrSuccess('Contrat added successfully')"
             rippleEffect
           >
             <span [data-feather]="'upload'"></span>
           </button>
           <button
             type="button"
             class="btn btn-icon rounded-circle btn-warning mr-1"
             data-toggle="tooltip"
             data-placement="top"
             title="import project"
             rippleEffect
           >
             <span [data-feather]="'download'"></span>
           </button>
         </div>
       </div>
       <ngx-datatable
         [rowHeight]="45"
         class="bootstrap core-bootstrap m-1"
         [columnMode]="ColumnMode.force"
         [headerHeight]="40"
         [footerHeight]="50"
         [scrollbarH]="false"
         [limit]="pageSize"
         [rows]="contrats"
       >
         <ngx-datatable-column
           name="Name"
           prop="name"
           headerClass="d-flex align-items-center justify-content-center"
           cellClass="d-flex align-items-center justify-content-center"
         >
         </ngx-datatable-column>

         <ngx-datatable-column
           name="Description"
           prop="description"
           headerClass="d-flex align-items-center justify-content-center"
           cellClass="d-flex align-items-center justify-content-center"
         >
         </ngx-datatable-column>

         <ngx-datatable-column
           name="Actions"
           [sortable]="false"
           headerClass="d-flex align-items-center justify-content-center"
           cellClass="d-flex align-items-center justify-content-center"
         >
           <ng-template ngx-datatable-cell-template let-row="row">
             <div class="d-flex align-items-center justify-content-center">
               <a
                 href="javascript:void(0)"
                 class="d-flex align-items-center m-1"
                 (click)="modalEdit(modalPrimaryedit, row.id)"
                 data-toggle="tooltip"
                 data-placement="top"
                 title="edit project"
               >
                 <i data-feather="edit" class="text-primary cursor-pointer"></i
               ></a>
               <!--<a href="javascript:void(0)" class="d-flex align-items-center"
                                   (click)="modalOpenDanger(modalDanger, row?.id)" data-toggle="tooltip"
                                   data-placement="top" title="delete project"><i data-feather="trash-2"
                                       class="text-primary cursor-pointer"></i></a>-->

               <div class="custom-control custom-switch custom-switch-success">
                 <input
                   type="checkbox"
                   class="custom-control-input"
                   id="{{ row.id }}"
                 />
                 <label class="custom-control-label" for="{{ row.id }}">
                   <span class="switch-icon-left"
                     ><i data-feather="check"></i
                   ></span>
                   <span class="switch-icon-right"
                     ><i data-feather="x"></i
                   ></span>
                 </label>
               </div>
             </div>
           </ng-template>
         </ngx-datatable-column>
       </ngx-datatable>
       <div class="card-footer">
         <div class="col-md-3 col-12">
           <div
             class="d-flex flex-row justify-content-between align-items-center"
           >
             <label class="d-flex align-items-center"
               >Show
               <select
                 class="form-control mx-25"
                 [(ngModel)]="pageSize"
                 (change)="getContrats()"
               >
                 <option value="5">5</option>
                 <option value="10">10</option>
                 <option value="25">25</option>
                 <option value="50">50</option>
               </select>
               entries</label
             >
           </div>
         </div>
       </div>
     </div>
   </section>

   <div class="modal-danger d-inline-block">
     <ng-template #modalDanger let-modal>
       <div class="modal-header">
         <h5 class="modal-title" id="myModalLabel160">Confirm</h5>

         <button
           type="button"
           class="close"
           (click)="modal.dismiss('Cross click')"
           aria-label="Close"
         >
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body" tabindex="0" ngbAutofocus>
         Are you sure you want to delete the Project ?
       </div>
       <div class="modal-footer">
         <button
           type="button"
           class="btn btn-danger"
           (click)="modal.close('Accept click')"
           rippleEffect
         >
           Cancel
         </button>

         <button
           type="button"
           class="btn btn-danger"
           (click)="deleteProject()"
           rippleEffect
         >
           Delete
         </button>
       </div>
     </ng-template>
   </div>
 </div>
</div>
